<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidElementNotAllowed -->
<!--changing the desktop icon at android label-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahtt_vp_feminin.myflicks" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_toolbarmovie"
        android:label="My flicks"
        android:textStyle="italic"
        android:fontFamily="casual"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MovieActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>